* {
    margin: 0;
    padding: 0;
}

.header {
    font-size: 0.4rem;
    height: 1.30rem;
    text-align: center;
    border-bottom: gray solid 1px;
}


.header_title {
    margin: 0 auto;
    width: 1.3rem;
    padding: 0.3rem;

}
.main{
    overflow: hidden;
}
.header_drawdown {
    color: blue;
    transform: rotate(90deg);
    display: inline-block;
}

.scan {
    right: 0.3rem;
    position: absolute;
    top: 0.3rem;
}

.scan img {
    height: 0.45rem;
    width: 0.45rem;
}

.scan p {
    font-size: 0.2rem;
}

.search_menu {
    height: 3.6rem;
    text-align: center;
}

.search {
    font-size: 0.35rem;
    margin: 0 auto;
    line-height: 1rem;
    width: 7.5rem;
    height: 1rem;
    border: cornflowerblue 2px solid;
    padding: 0 0.5rem;
    border-radius: 0.5rem;
    outline: none;
    box-sizing: border-box;
}

.search::placeholder {
    color: gray;
    text-align: center;
    background-image: url('../img/search.png');
    background-repeat: no-repeat;
}

.menu {
    height: 1.3rem;
}

.menu_item img {
    height: 0.55rem;
    width: 0.55rem;
}

.menu_item p {
    font-size: 0.3rem;
}

.menu_item {
    text-align: center;
    padding: 0 0.6rem;
    height: 1.2rem;
    width: 1.2rem;
    display: inline-block;
}

.column {
    line-height: 0.75rem;
    background-color: rgba(128, 128, 128, 0.1);
    font-size: 0.3rem;
    color: gray;
    height: 0.75rem;
}

.column span {
    padding: 0 0.3rem;
}

.recent span:last-child {
    float: right;
}

.content_title {
    font-size: 0.35rem;
}

.content_author {
    font-size: 0.3rem;
}

.teach {
    text-align: center;
    color: gray;
    border: 1px solid gray;
    border-radius: .125rem;
    font-size: .25rem;
    margin-left: 0.2rem;
    display: inline-block;
    height: .35rem;
    width: .55rem;
}

.addbtn {
    background-color: white;
    outline: none;
    border: 1px blue solid;
    width: 1.1rem;
    height: 0.5rem;
    text-align: center;
    border-radius: 6px;
    float: right;
    color: blue;
    font-size: 0.3rem;
    margin: .25rem 0;
}

.recent_content {
    height: 4.55rem;
}

.recent_content ul {
    height: 100%;
}

.recent_content ul li {
    margin: .55rem 0;
    height: 0.9rem;
    padding: 0 0.3rem;
}

.recent_content ul li img {
    height: 0.9rem;
    width: 0.9rem;
}

.recent_content ul li>* {
    display: inline-block;
}

.banner {
    background-color: white;
    padding: .3rem;
    width: 7.68rem;
    height: 2.5rem;
}

.post_title {
  line-height: 1rem;
    margin:0 .3rem;
    font-size: 0.4rem;
}

.postslist {
    background-color: rgba(128, 128, 128, 0.1);
}

.post_card {
    height: 5.7rem;
    margin: 0.3rem 0;
    background-color: white;
}

.post_card img {
    margin: 0.3rem;
    width: 7.6rem;
    height: 3.6rem;
    margin-bottom: 0;
    margin-top: .15rem;
}

.post_footer {

    font-size: 0.25rem;
    color: rgba(128, 128, 128, 0.514);
    text-align: right;
    margin: 0 0.3rem;
}

.footer img {
    display: inline;
}